.result-item {
  display: flex;
  background: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 10px;
  margin-left: 20%;
  width: 60%;
  height: 220px;
  margin-bottom: 10px;
}

.doctor-image {
  width: 120px;
  height: 120px;
  margin: 10px 15px 25px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgba(105, 105, 105, 0.47);
}
.result-item:hover {
  background: rgba(255, 255, 255, 0.38);
}

.back-stars {
  display: flex;
  color: #333;
  position: relative;
}

.front-stars {
  display: flex;
  overflow: hidden;
  position: absolute;
  color: #ffbc0b;
  top: 0;
}
