<form ngForm (ngSubmit)="onSubmit()" #form="ngForm">

    <div class="form-item">
        <label for="">Doctor Name</label>
        <input ngModel name="name" type="text" placeholder="Ex. John">
    </div>

    <div class="form-item">
        <label for="">Choose city</label>
        <select aria-placeholder="city" ngModel name="city" id="city">
            <option value="" disabled selected hidden>Choose a city</option>
            <option value="Cairo">Cairo</option>
            <option value="Menia">Menia</option>
            <option value="Alexandria">Alexandria</option>
            <option value="Asuit">Asuit</option>
            <option value="Giza">Giza</option>
        </select>
    </div>

    <div class="form-item">
        <label for="">Choose Specialization</label>
        <select ngModel name="specialization" id="specia;ization">
            <option value="" disabled selected hidden>Choose an specialization</option>
            <option value="Cardiology">Cardiology</option>
            <option value="Gastroenterology">Gastroenterology</option>
            <option value="Immunology">Immunology</option>
            <option value="Dermatology">Dermatology</option>
            <option value="General Surgery">General Surgery</option>
            <option value="Nutrition ">Nutrition</option>
            <option value="Dentistry">Dentistry</option>
        </select>
    </div>
    <br>
    <br>
    <button type="submit" class="submit">Search</button>
</form>