<form>

    <div class="form-item">
        <label for="">Doctor Name</label>
        <input type="text" placeholder="Ex. John">
    </div>

    <div class="form-item">
        <label for="">Choose city</label>
        <select name="city" id="city">
            <option value="Cairo">Cairo</option>
            <option value="Menia">Menia</option>
            <option value="Alexandria">Alexandria</option>
            <option value="Asuit">Asuit</option>
            <option value="Giza">Giza</option>
        </select>
    </div>

    <div class="form-item">
        <label for="">Choose Specialization</label>
        <select name="specialization" id="specia;ization">
            <option value="Cardiologist">Cardiologist</option>
            <option value="Gastroenterologist">Gastroenterologist</option>
            <option value="Immunologist">Immunologist</option>
            <option value="Dermatologist">Dermatologist</option>
            <option value="General Surgeon">General Surgeon</option>
            <option value="hematologist ">Hematologist</option>
            <option value="Dentist">Dentist</option>
        </select>
    </div>
    <br>
    <br>
    <button class="submit">Search</button>
</form>